@font-face {
    font-family: thumbnail;
    src: url(fonts/roboto.ttf);
}
div.video-tiny{
    border: rgb(68,199,242) solid thin;
    height: 14em;
    width: 16em;
    margin: 2em;
    background: rgb(0,40,50);
    font-family: thumbnail, Calibri, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    padding: 0.5em;
}


div.game-tiny{
    border: rgb(68,199,242) solid thin;
    height: 25em;
    width: 16em;
    margin: 2em;
    background: rgb(0,40,50);
    font-family: thumbnail, Calibri, sans-serif;
    color: white;
    padding-top: 0.5em;
}

.game-tiny a:link, .game-tiny a:visited{
    color: white;
}

.game-tiny a:hover{
    text-decoration: none;
}

div.video-well{
    margin: 2em;
}

img.v-thumb{
    max-width:100%;
    max-height: 9em;
    /*width: 2em;*/
    /*height: 2em;*/
}

img.g-thumb{
    width: 100%;
    height: 20em;
}

.caption{
    font-size: 1.5em;
}

video{
    text-align: center;
}
