@font-face {
	font-family: navbar;
	src: url(fonts/squared-display.ttf);
}

html {
	background: url(images/bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	position: absolute;
	top:	0;
	right:	0;
	bottom:	0;
	left:	0;
	margin:	0;
	
	background: rgba(0,40,50,0.7);
	background-size: cover;
}

/*Top bar starts here***********************************/
div.topnav {
	background-color: rgba(0,40,50,1);

	height: 60px;
	/*width:	100%;*/
}

/* Remove margins and padding from the list, and add a black background color */
div.topnav ul {
    list-style-type: none;
    margin:		0;
    padding:	0;
    overflow:	hidden;

    width:		600px;
}

/* Float the list items side by side */
div.topnav ul li {
	float: left;

	font-family: navbar, Calibri, sans-serif;
}

/* Style the links inside the list items */
div.topnav ul li a {
    display:		inline-block;
    color:			white;
    text-align:		center;
    vertical-align:	center
    text-decoration: none;
    margin-left: 	25px;
    padding-top:	15px;
    transition:		0.3s;
    font-size:		24px;
}

/* Change background color of links on hover */
div.topnav ul li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
div.topnav ul li.icon {display: none;}

/*Searchbar stuff*/
div.search {
	position: absolute;
    right: 100px;
    top: 20px;

    color: white;
}

/*Sidebar starts here***********************************/
div.sidenav {
	background-color: rgba(0,40,50,1);

	height:	100%;
	width:	60px;
}

/* Remove margins and padding from the list, and add a black background color */
div.sidenav ul {
    list-style-type: none;
    margin:		0;
    padding:	0;
    overflow:	hidden;
}

/* Float the list items side by side */
div.sidenav ul li {
	font-family: navbar, Calibri, sans-serif;
}

/* Style the links inside the list items */
div.sidenav ul li a {
    display:	inline-block;
    color:		white;
    text-align:	center;
    padding:	5px 25px; /*Will reposition icons*/
    text-decoration: none;
    transition:	0.3s;
    font-size:	24px;
}

/* Change background color of links on hover */
div.sidenav ul li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
div.sidenav ul li.icon {display: none;}