@font-face {
    font-family: general;
    src: url(fonts/cocogoose.otf);
}
h2{
    font-family: general, Calibri, sans-serif;
}
img.featured{
    margin-top: 3%;
    margin-left: 38%;
    width: 32em;
    height: 22em;
}
.homepage-img{

}

.left-p{
    margin-left: 8%;
}