@font-face {
	font-family: title;
	src: url(fonts/cocogoose.otf);
}

div.video {
	height: 75%;
	width: 	1735px;

	position: absolute;
	top: 120px;
	left: 120px; right: 60px; right: 0; bottom: 0;

	background: rgb(0,0,0);
	color: white;
}

h2.video{
	font-family: title, Calibri, sans-serif;
}

img#playerImage{
	margin: auto;
	width: 256px;
	height:256px;
}