@font-face {
	font-family: title;
	src: url(fonts/cocogoose.otf);
}

a.player {
	/*position: absolute;*/
	/*top: 500px; left: 500px;*/

	z-index: 2;

	margin-left:	500px;
	margin-top: 	200px;

	width: 240px;
	height:240px;
	display:block;
	background:transparent url('images/icons/play-button-2.png') center top no-repeat;
}

a.player:hover {
	background: url('images/icons/play-button-hover.png');
}

div.video {
	padding: 2em;
	height: 800px;
	width: 	1735px;

	position: absolute;
	top: 120px;
	left: 120px; right: 60px; right: 0; bottom: 0;
	border-right: rgb(0, 40, 50) solid thick;
	background: rgb(0,0,0);
	color: white;
}

h4.video, h2.video{
	font-family: title, Calibri, sans-serif;
}

img#playerImage{
	margin: auto;
	width: 256px;
	height:256px;
}